<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">
        </property>
        <property name="hibernate.connection.username"></property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <!-- Para mostrar las sentencias SQL que se ejecutan, normalmente se usa en desarrollo -->
        <property name="hibernate.show_sql">true</property>
        <!-- Para mostrar las sentencias SQL formateadas y leerlas con mayor facilidad -->
        <property name="hibernate.format_sql">true</property>
        <!-- Esta propiedad dicta lo que sucede en la fase de arranque de la aplicación -->
        <!-- <property name="hibernate.hbm2ddl.auto">update</property> -->

        <!-- Mapeo de las clases -->
        <mapping class="model.AppUser"/>
        <mapping class="model.Work"/>
        <mapping class="model.Storage"/>
        <mapping class="model.Pelicula"/>
        <mapping class="model.WorkUserStorage"/>
        <mapping class="model.Casting"/>
        <mapping class="model.Company"/>
        <mapping class="model.Crew"/>
        <mapping class="model.Genres"/>
        <mapping class="model.Pelicula"/>
        <mapping class="model.Serie"/>
        <mapping class="model.Storage"/>
        <mapping class="model.WatchProvider"/>
        <mapping class="model.WorkUserStorageId"/>


    </session-factory>

</hibernate-configuration>

